# Heroes Of Pymoli - Analysis

<b> Problem Statment </b>

Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.


<b>Analysis Report (based on the analysis of purchase dataset provided)</b> 

1. Out of total players, 'Male' players form the majority of 84% whereas 'Female' players share a relatively small proportion of about 14%. 'Other/Non-Disclosed' gender holds less than 2% of total number of players.

2. Majority of players fall between 20 - 24 years age group. Next highest is in age group 15 - 19.
   The lowest number of players is in below 10 and above 40 age groups (About 2%).
   
3. The 20 - 24 age group also has the highest total purchase value of 1,114.06 dollars with an average purchase price per person as 4.32. Interestingly, the age    group with highest average purchase price per person of 4.76 is 35 - 39 with the total purchase price of 147.67 dollars.

4. The top spender is Lisosia93 (total purchse count = 5, average purchase price = 3.79, total purchase price = 18.96).

5. Most popular item is Item ID: 178, Item Name: Oathbreaker, Last Hope of the Breaking Storm (purchase count = 12, price = 4.23, total purchase price = 50.76)

6. Most profitable item is also Item ID: 178, Item Name: Oathbreaker, Last Hope of the Breaking Storm (purchase count = 12, price = 4.23, total purchase price =    50.76)

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import matplotlib.pyplot as plt

# File path
file_to_load = os.path.join('Resources', 'purchase_data.csv')

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

## Player Count

* Display the total number of players

In [2]:
# calculating a df that holds total number of unique players in purchase_data
total_players = pd.DataFrame({purchase_data['SN'].nunique()}, columns=['Total Players'])
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

##### Calculations for purchase analysis dataframe

In [3]:
# calculating the number of unique items in total
unique_items = purchase_data['Item ID'].nunique()

# calculating the average purchase price  
avg_price = f"${purchase_data['Price'].mean():.2f}"

# calculating the number of purchases in total 
num_of_purchases = purchase_data['Purchase ID'].count()

# calculating the total revenue (in total for purchase data)
total_revenue = f"${purchase_data['Price'].sum():,.2f}"


##### Creating the summary dataframe for purchase analysis using the values calculated

In [4]:
purchase_analysis_df = pd.DataFrame({'Number of Unique Items': [unique_items], 
                           'Average Price': [avg_price], 
                           'Number of Purchases': [num_of_purchases], 
                           'Total Revenue': [total_revenue]})
purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

##### Calculations for gender demographics dataframe

In [5]:
# counting total number of players
total_count = purchase_data['SN'].nunique()

# counting total number and percent of male players
male_count = purchase_data[purchase_data['Gender'] == 'Male']['SN'].nunique()
male_percent = f"{(male_count / total_count) * 100:.2f}%"

# counting total number and percent of female players
female_count = purchase_data[purchase_data['Gender'] == 'Female']['SN'].nunique()
female_percent = f"{(female_count / total_count) * 100:.2f}%"

# counting total number and percent of other/non-disclosed players
other_count = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']['SN'].nunique()
other_percent = f"{(other_count / total_count) * 100:.2f}%"

##### Creating and formatting the gender demographics dataframe

In [6]:
gender_demographics_df = pd.DataFrame({'Total Count': [male_count, female_count, other_count],
                                       'Percentage of Players': [male_percent, female_percent, other_percent],
                                       'Gender': ['Male', 'Female', 'Other / Non-Disclosed']})\
                                       .set_index('Gender')
                                                               
gender_demographics_df.index.name=None

gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

##### Calculations for gender based purchase analysis

In [7]:
# grouping the purchase data based on the gender
gender_data = purchase_data.groupby('Gender')

# calculating purchase count based on gender
purchase_count_by_gender = gender_data['Purchase ID'].count()

# calculating total purchase price/value based on gender
tot_purchase_price_by_gender = gender_data['Price'].sum()

# calculating purchase count based on gender
avg_purchase_price_by_gender = gender_data['Price'].mean()

# calculating average total purchase per person based on gender
gender_count = gender_data['SN'].nunique()
avg_total_purchase_per_person_by_gender = tot_purchase_price_by_gender / gender_count


##### Creating and formatting the gender purchase analysis dataframe

In [8]:
gender_purchasing_analysis_df = pd.DataFrame({'Purchase Count': purchase_count_by_gender,
                                      'Average Purchase Price': avg_purchase_price_by_gender,
                                      'Total Purchase Value': tot_purchase_price_by_gender,
                                      'Avg Total Purchase per Person': avg_total_purchase_per_person_by_gender})

gender_purchasing_analysis_df = gender_purchasing_analysis_df.style.format({'Average Purchase Price': "${:,.2f}".format, 
                                                                            'Total Purchase Value': "${:,.2f}".format,
                                                                            'Avg Total Purchase per Person': "${:,.2f}".format
                                                                           })
                                                        

gender_purchasing_analysis_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table


##### Using bins and doing calculations based on Age Demographics

In [9]:
# creating bins and bin labels
bins = [0, 10, 15, 20, 25, 30, 35, 40, 150]
bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# creating new age_df using purchase_data df with an additional column for age groups (based on bins)
Age_Groups = pd.cut(purchase_data["Age"], bins, labels=bin_names, right=False)
age_df = purchase_data.assign(Age_Groups=Age_Groups) 
age_df.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24

In [10]:
# creating age_data that holds data grouped by age_groups columns
age_data = age_df.groupby('Age_Groups')

# calculating total count of players by age groups
total_count_by_age = age_data['SN'].nunique()

# calculating percent of players by age groups
total_players = purchase_data['SN'].nunique()
percent_of_players_by_age = total_count_by_age / total_players * 100
percent_of_players_by_age = percent_of_players_by_age.apply("{:.2f}%".format)

##### Creating the age demographics dataframe based on the values calculated

In [11]:
age_demographics_df = pd.DataFrame({'Total Count': total_count_by_age,
                                    'Percentage of Players':percent_of_players_by_age
                                    })
age_demographics_df

            Total Count Percentage of Players
Age_Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame


##### Calculations for purchasing analysis by age

In [12]:
# calculating purchase count by age 
purchase_count_by_age = age_data['Purchase ID'].count()

# calculating purchase price by age
purchase_price_by_age = age_data['Price'].sum()

# calculating average purchase price by age
avg_purchase_price_by_age = age_data['Price'].mean()

# calculating average total purchaseprice per person by age
avg_total_purchase_per_person = purchase_price_by_age / age_data['SN'].nunique()

##### Creating & formatting the purchase_analysis_by_age df based on the values calculated

In [13]:
purchasing_analysis_age_df = pd.DataFrame({"Purchase Count": purchase_count_by_age,
                                           "Average Purchase Price": avg_purchase_price_by_age,
                                           "Total Purchase Value":purchase_price_by_age,
                                           "Average Purchase Total per Person": avg_total_purchase_per_person})

purchasing_analysis_age_df["Average Purchase Price"] = purchasing_analysis_age_df["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_age_df["Total Purchase Value"] = purchasing_analysis_age_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_age_df["Purchase Count"] = purchasing_analysis_age_df["Purchase Count"].map("{:,}".format)
purchasing_analysis_age_df["Average Purchase Total per Person"] = purchasing_analysis_age_df["Average Purchase Total per Person"].map("${:,.2f}".format)
purchasing_analysis_age_df = purchasing_analysis_age_df.loc[:, ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Total per Person"]]


purchasing_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age_Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

##### Calculations for top spenders

In [14]:
# calculating purchase count by spenders
purchase_count_by_spender = purchase_data.groupby('SN')['Purchase ID'].count()

# calculating total purchase price/value by spenders
total_purchase_value_spender = purchase_data.groupby('SN')['Price'].sum()

# calculating average purchase price by spenders
avg_purchase_price_spender = purchase_data.groupby('SN')['Price'].mean()

##### Creating & formatting the top_spender_df based on the values calculated

In [15]:
top_spender_df = pd.DataFrame({'Purchase Count': purchase_count_by_spender,
                              'Average Purchase Price': avg_purchase_price_spender,
                              'Total Purchase Value': total_purchase_value_spender,
                              }).sort_values('Total Purchase Value', ascending=False).head()

top_spender_df = top_spender_df.style.format({'Average Purchase Price': "${:,.2f}".format, 
                                              'Total Purchase Value': "${:,.2f}".format,
                                              })

top_spender_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

##### Calculations for most popular items

In [16]:
# creating items dataframe using purchase_data df
item_df = pd.DataFrame(purchase_data[['Item ID', 'Item Name', 'Price']])
item_df.head()

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [17]:
# creating item_data by grouping item id and item name for further calculations
item_data = item_df.groupby(['Item ID', 'Item Name'])

# calculating total purchase price based on items
total_purchase_value_item = item_data['Price'].sum()

# calculating purchase count based on items
purchase_count_by_item = item_data['Price'].count()

# calculating item price for unique items
item_price = total_purchase_value_item / purchase_count_by_item

##### Creating & formatting the most_popular_items_df based on the values calculated

In [18]:
most_popular_items_df = pd.DataFrame({'Purchase Count': purchase_count_by_item,
                                      'Item Price': item_price,
                                      'Total Purchase Value': total_purchase_value_item}) 

formatted_most_popular_items_df = most_popular_items_df.sort_values('Purchase Count', ascending=False).head()

formatted_most_popular_items_df = formatted_most_popular_items_df.style.format({'Item Price': "${:,.2f}".format, 
                                                                                'Total Purchase Value': "${:,.2f}".format
                                                                                })

formatted_most_popular_items_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

##### Creating & formatting the most_profitable_items_df by sorting most_popular_items_df

In [19]:
most_profitable_items_df = most_popular_items_df.sort_values('Total Purchase Value', ascending=False).head()

most_profitable_items_df = most_profitable_items_df.style.format({'Item Price': "${:,.2f}".format,
                                                                  'Total Purchase Value': "${:,.2f}".format
                                                                 })

most_profitable_items_df